{% extends 'data/base.html' %}
{% block content %}
<div class="container mt-4">
  <h2>Добавить компанию / товар / услугу</h2>
  <form method="post">
    {% csrf_token %}
    <div class="mb-3">{{ form.description.label_tag }} {{ form.description }}</div><br>
    <div class="mb-3">{{ form.title.label_tag }} {{ form.title }}</div><br>
    <div class="mb-3">{{ form.h1.label_tag }} {{ form.h1 }}</div><br>
    <div class="mb-3">{{ form.subtitle.label_tag }} {{ form.subtitle }}</div><br>
    <div class="mb-3">{{ form.brands.label_tag }} {{ form.brands }}</div><br>
    <div class="mb-3">{{ form.keyword.label_tag }} {{ form.keyword }}</div><br>
    <div class="mb-3">{{ form.keywords.label_tag }} {{ form.keywords }}</div><br>
    <div class="mb-3">{{ form.seo_description.label_tag }} {{ form.seo_description }}</div><br>
    <button type="submit" class="btn btn-primary">Добавить</button>
  </form>
</div>
{% endblock %}
