{% extends 'data/base.html' %}
{% load static %}
{% block content %}

<div class="container"><br><br>
    <div class="row">
        <div class="col-md-9">
            <div class="main-content">
                <h1 class="p-4 mb-3 bg-body-tertiary rounded">{{ count }}</h1><br>

                {% for i in steps %}
                    <a href="{% url 'step_detail2' i.slug %}">{{ i }}</a><br>
                {% endfor %}

                <br>

                <!-- ПАГИНАЦИЯ -->
                <div class="pagination">
                    {% if steps.has_previous %}
                        <a href="?page={{ steps.previous_page_number }}">Back</a>
                    {% endif %}

                    <span>Страница {{ steps.number }} из {{ steps.paginator.num_pages }}</span>

                    {% if steps.has_next %}
                        <a href="?page={{ steps.next_page_number }}">Next</a>
                    {% endif %}
                </div>

                <br><br><br><br><br>

            </div>
        </div>
    </div>
</div>

{% endblock %}
